Arthur Breguez <arthurbreguez@gmail.com> <artbreguez@ucl.br>
Arthur Breguez <arthurbreguez@gmail.com> <98524696+ArtBreguez@users.noreply.github.com>
Arthur Breguez <arthurbreguez@gmail.com> <hermes@artbreguez.dev>
